body {
  margin-top: 51px;
  word-wrap: break-word;
}

.homepage-jumbotron {
  padding: 30px 60px;
  border-radius: 6px;
  margin-top: 100px;
  overflow: hidden;
}


.ellipsis {
  text-overflow: ellipsis;
  cursor: context-menu;
  white-space: nowrap;
  overflow: hidden;
}

.navbar {
  margin: 0;
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar .dropdown .btn {
  border-top: 0;
  border-bottom: 0;
  text-align: left;
}
.navbar .dropdown .btn .caret {
  margin-left: 5px;
}
.alert.socket-closed {
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
}

.pull-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 0;
}

.pull-container:before {
  width: 0;
}

.badge-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 9px;
}
.badge {
  line-height: 14px;
  font-size: 14px;
  background: none;
}
.badge.wrapper {
  width: 50%;
}
.thumbnail {
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}
@media (min-width: 515px) and (max-width: 767px) {
  .thumbnail {
    width: 33.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .thumbnail {
    width: 25%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .thumbnail {
    width: 16.66%;
  }
}
@media (min-width: 1200px) and (max-width: 1549px) {
  .thumbnail {
    width: 12.5%;
  }
}
@media (min-width: 1550px) {
  .thumbnail {
    width: 10%;
  }
}

.thumbnail .img-circle {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.github-label {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  display: block;
  max-width: 100%;
  padding: 6px 10px;
  font-size: 13px;
  box-shadow: none;
  vertical-align: top;
  border-radius: 2px;
  font-weight: bold;
  line-height: 1;
}
li > .github-label {
  margin: 4px;
  cursor: pointer;
}
li > .github-label[disabled] {
  text-decoration: line-through;
}

.dropdown li.selected > a {
  font-weight: bold;
}

.github-title {
  padding: 10px 0 0 0;
  margin: auto;
  width: 90%;
}

.github-label+.github-label {
  margin-top: 3px;
}
.github-request-number {
  font-size: 36px;
}

.success {
  border: 10px solid #6cc644;
}
.pending {
  border: 10px solid #cea61b;
}

.failure {
  border: 10px solid #bd2c00;
}

#rate-limit .separator {
  width: 15px;
  display: inline-block;
}
#rate-limit span:not(.separator) {
  cursor: context-menu;
}

ul li a,
.cursor-pointer {
  cursor: pointer;
}

/* Scrollbar in menu */
.scrollable-menu {
  height: auto;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollable-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}
.scrollable-menu::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}
