{% extends 'base.html.twig' %}

{% block title %}Merge Requests{% endblock %}

{% block body %}
<div id="mount-application">
    <div data-reactroot="">
        <section class="dashboard clearfix">
            <div class="pull-container container-fluid">
            {% for request in requests %}
                <div class="pull-request thumbnail">
                    <header class="caption text-center ellipsis" title="{{ request.project_id }}">
                        <strong>{{ projects[request.project_id].name }}</strong>
                    </header>
                    <svg class="img-circle" width="100px" height="100px" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="60" fill="transparent" stroke-width="40" stroke="#{{ request.merge_status == 'can_be_merged' ? "090" : "900" }}"></circle>
                        <clipPath id="clip-circle">
                            <circle r="40" cx="50" cy="50"></circle>
                        </clipPath>
                        <image x="10%" y="10%" width="80%" height="80%" xlink:href="{{ request.author.avatar_url }}" style="clip-path: url(&quot;#clip-circle&quot;);">
                            <title>{{ request.author.name }}</title>
                        </image>
                    </svg>
                    <div class="text-center github-title ellipsis" title="Update README.md">{{ request.title }}</div>
                    <div class="caption text-center github-request-number">
                        <a href="{{ request.web_url }}" target="_blank" rel="noopener noreferrer">
                            #{{ request.iid }}
                        </a>
                    </div>
                    <!-- LABELS -->
                    {% for label in request.labels %}
                        <div class="github-label text-center ellipsis" title="bug" style="color: white; background: {{ projects[request.project_id].labels[label] }};">
                            {{ label }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}